<div class="fade-in" style="margin-top: 100px">

  <!-- calculo de frete e sistema de pagamento

  <div class="banner-hero"  >


  </div>
  <div class="divider"></div>
  -->
  <div *ngFor="let product of cart" class="cart-item" >
    <img [src]="product.product_image" alt="{{ product.product_name }}" class="product-image">
    <div class="product-details">
      <h4>{{ product.product_name }}</h4>
      <h3 style="font-weight: bold;color:#538fa6;">{{ product.product_price | currency:'BRL'}}</h3>
    </div>
    <button class="remove-button" (click)="removeFromCart(product.product_name)">
    <img src="assets/lixo-webp.webp" width="40" height="40" >
    </button>
  </div>

  <div *ngIf="errorMessage" class="error-message center">
    {{ errorMessage }}
  </div>


  <!-- Campo de entrada para CEP
  <div class="cep-input-wrapper">
    <div class="cep-input">
      <label for="cep">Calcular Frete:</label>
      <input id="cep" type="text" placeholder="Digite seu CEP">
    </div>
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <button (click)="calcularFrete()">Calcular Frete</button>

  -->



  <!-- Seção inferior do carrinho -->


  <div class="cart-summary">
    <div class="freight">
    <h4>Frete:</h4>
    <p>R${{ valorFrete | number:'1.2-2' }}</p>
  </div>
    <div class="total">
      <h4>Total:</h4>
    <p>{{ calculateTotal() | currency:'BRL' }}</p>
    </div>

  </div>


  <div class="cart-summary">
    <h3 class="title">Dados para Envio</h3>
    Email: {{email}} <br>
    Nome: {{nome}} <br>
    CEP: {{cep}} <br>
    Endereço: {{endereco}} <br>
    Número da Casa: {{numeroCasa}}
  </div>



  <br>
    <!-- mostrar dados de envio do usuario aqui -->

  <div *ngIf="isLoading" class="loading-container">
    <img src="assets/loading.gif" alt="Loading" class="loading-image"><br>
    <h3 class="loading-text">Redirecionando...</h3>
  </div>

<!--  corrigir tamanho da imagem pro mobile -->
  <!-- apos isso como criar nova categoria e mostrar na tela principal -->
    <div class="center" *ngIf="endereco!=='' || email!=='' || nome!=='' || numeroCasa!=='' || cep!==''">
      <button [disabled]="cart.length === 0 || buttonWasClicked" class="checkout-button" style="margin-bottom:80px" (click)="checkout()">
        <span *ngIf="!buttonWasClicked">Finalizar Compra</span>
        <span *ngIf="buttonWasClicked">Calma aí...</span>
      </button>

    </div>

  </div>



<app-footer></app-footer>
