
<main class="fade-in" *ngIf="!isLoading" style="
background-image: url('assets/imagens/chinese-background.jpg');
background-size: cover;
height: 700px;
">


  <div class="banner-hero" >
  </div>




  <div class="product-container" >


    <div *ngFor="let product of products" class="product-item" style="margin-top:20px !important; background-image: url('assets/imagens/chinese-style.png') !important;">

      <img [src]="product.product_image || 'https://via.placeholder.com/150'" alt="{{ product.product_name }}" class="product-image">
      <h3>{{ product.product_name }}</h3>

      <div class="product-extra-info">
        <p class="discount">De R$349,90 por</p>
      </div>

      <div class="product-details">
        <p class="product-price">R{{ product.product_price | currency }}</p>
        <p class="installment">3x de R{{ (product.product_price / 3) | currency }}</p>
      </div>

      <button class="add-button" (click)="addToCart(product)" style="color:black !important;">+</button>
    </div>
  </div>




</main> <!-- main conteiner -->

<div *ngIf="isLoading" class="loading-container">
  <img src="assets/loading.gif" width="40%" height="40%" style="border-radius: 100%;"><br>
  <h3>Calma aí...</h3>
</div>




<button mat-fab class="floating-button" (click)="toggleSound()">
  <mat-icon>{{ isPlaying ? 'volume_up' : 'volume_off' }}</mat-icon>
</button>


<div *ngIf="waitAsecond && showBoneco">
  <!-- Imagem animada -->
  <img src="assets/icones/boneco-social-credit.png" class="paused-music-image" [class.show]="showBoneco">

</div>


<img src="assets/icones/boneco-social-credit-joinha.png" class="paused-music-image" [class.show]="showBoneco2">





<!--
<app-footer></app-footer>
-->


<style>

  @keyframes slide-in {
    from {
      transform: translateX(100%); /* Começa fora da tela (direita) */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Entra na tela */
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0); /* Começa visível */
      opacity: 1;
    }
    to {
      transform: translateX(100%); /* Sai para a direita */
      opacity: 0;
    }
  }

  .paused-music-image {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%; /* Ajuste conforme necessário */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .paused-music-image.show {
    animation: slide-in 0.5s forwards;
  }

  .paused-music-image:not(.show) {
    animation: slide-out 0.5s forwards;
  }



</style>
