<mat-toolbar color="primary" class="toolbar" style="
background-image: url('assets/imagens/chinese-style.png');
background-position: center;
">
  <span class="logo-container">
    <img src="assets/icones/logo.png" alt="Logo" class="logo">
  </span>



    Social Credit:
       <span *ngIf="number>=0" style="color: #28a745">{{ number }}</span>
       <span *ngIf="number<0" style="color: red">{{ number }}</span>

    <img *ngIf="number>0" src="assets/icones/boneco-social-credit-joinha.png"  class="logo-t">

   <img *ngIf="number<0" src="assets/icones/boneco-social-credit.png"  class="logo-t">



</mat-toolbar>

