.bottom-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around; /* Distribui os itens igualmente */
  align-items: center;
  background: #ffffff !important; /* Mantém o fundo branco */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 56px; /* Altura padrão para a barra */
}

.bottom-toolbar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.8) !important; /* Cor do texto */
  flex: 1; /* Garante que os botões ocupem o mesmo espaço */
  max-width: 100px; /* Limita o tamanho para melhor organização */
}

.toolbar-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-icon {
  margin-top: 2px;
  padding-top: 10px !important;
  width: 24px; /* Tamanho do ícone */
  height: 24px;
  margin-bottom: 2px; /* Pequeno espaço entre ícone e texto */
}

.bottom-toolbar span {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap; /* Evita quebra de linha */
}
