<mat-toolbar color="primary" class="bottom-toolbar">
  <button mat-button routerLink="/home" (click)="playSound()">
    <div class="toolbar-button-content">
      <img src="assets/home-icon.png" class="toolbar-icon">
      <span>開始</span>
    </div>
  </button>

  <button mat-button routerLink="/dados" (click)="playSound()">
    <div class="toolbar-button-content">
      <img src="assets/avatar-perfil.png" class="toolbar-icon">
      <span>輪廓</span>
    </div>
  </button>

  <button mat-button routerLink="/shoppingCart" (click)="playSound()">
    <div class="toolbar-button-content">
      <img src="assets/shopping-cart.png" class="toolbar-icon">
      <span>購物車o</span>
    </div>
  </button>

  <button mat-button routerLink="/fuck" (click)="playSound()">
    <div class="toolbar-button-content">
      <img src="assets/faq-3d.png" class="toolbar-icon">
      <span>幫助</span>
    </div>
  </button>
</mat-toolbar>
